/* region General */
* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding-bottom: 7%;
}

h4 {
    margin-top: 0;
    margin-bottom: 2%;
}

h5 {
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
/* endregion */

/* region Viewers */
#viewers {
    display: flex;
    width: 100%;
}

.viewer {
    display: flex;
    width: 50%;
}

/* region Image */
.image {
    width: 70%;
    display: flex;
    justify-content: center;
}

.DICOMImage {
    width: 33vw;
    height: 33vw;
    position: relative;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adjusting {
    width: 100%;
    display: flex;
    padding-top: 1%;
}

.brightness {
    width: 70%;
}

.brightness label {
    width: 25%;
    display: inline-block;
}

.brightness input {
    width: 65%;
    display: inline-block;
}

.zoom, .reset {
    width: 15%;
}

.T1 {
    display: flex;
    padding-top: 2%;
}

.T1Input {
    width: 80%;
}

.T1Input > * {
    display: block;
}

.T1Input > input {
    margin-top: 1%;
    margin-left: 3%;
}

.DICOMThumbnail {
    width: 5vw;
    height: 5vw;
    border-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* endregion */

/* region Settings */
.settings {
    width: 30%;
}

.files {
    margin-bottom: 3%;
}

.list {
    width: 100%;
    height: 30vh;
    padding: 2%;
    border-style: solid;
    border-width: thin;
    cursor: context-menu;
    overflow-y: scroll;
    overflow-wrap: break-word;
    margin-bottom: 3%;
}

.list > *:hover {
    background-color: lightcyan;
}

.list > .active {
    background-color: lightblue;
}

.parameters {
    border-style: solid;
    border-width: thin;
    padding: 2%;
    margin-bottom: 3%;
}

.circles {
    margin-left: 3%;
}

.parameters button {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.parameters input {
    display: inline-block;
    width: 30%;
}

#K11, #K12 {
    margin-bottom: 1%;
}

.inner1, .inner2, .outer1, .outer2, .ks1, .ks2 {
    position: relative;
}

.inner1 .tooltipText, .outer1 .tooltipText, .ks1 .tooltipText, .inner2 .tooltipText, .outer2 .tooltipText, .ks2 .tooltipText {
    visibility: hidden;
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    text-align: justify;
    border-radius: 6px;
    padding: 2%;
    position: absolute;
    z-index: 1;
}

.inner1 .tooltipText, .outer1 .tooltipText, .ks1 .tooltipText {
    left: 102%;
}

.inner2 .tooltipText, .outer2 .tooltipText, .ks2 .tooltipText {
    right: 102%;
}

.inner1 .tooltipText, .inner2 .tooltipText {
    top: 10px;
    width: 35rem;
}

.outer1 .tooltipText, .outer2 .tooltipText {
    top: 10px;
    width: 35rem;
}

.ks1 .tooltipText, .ks2 .tooltipText {
    top: -12px;
    width: 40rem;
}

.inner1 .tooltipText::after, .outer1 .tooltipText::after, .ks1 .tooltipText::after,
.inner2 .tooltipText::after, .outer2 .tooltipText::after, .ks2 .tooltipText::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
}

.inner1 .tooltipText::after, .outer1 .tooltipText::after, .ks1 .tooltipText::after {
    border-color: transparent black transparent transparent;
    right: 100%;
}

.inner2 .tooltipText::after, .outer2 .tooltipText::after, .ks2 .tooltipText::after {
    border-color: transparent transparent transparent black;
    left: 100%;
}

.inner2:hover .tooltipText, .outer2:hover .tooltipText, .ks2:hover .tooltipText,
.inner1:hover .tooltipText, .outer1:hover .tooltipText, .ks1:hover .tooltipText {
    visibility: visible;
}

.hematocrit {
    padding-top: 5%;
}

#hematocrit {
    display: inline-block;
    width: 30%;
}
/* endregion */
/* endregion */

/* region Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.buttons > * {
    width: 25%;
}

.more {
    padding-left: 5%;
    padding-right: 5%;
}

.more > * {
    width: 13%;
}
/* endregion */

/* region Popups */
.popup {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.popupContainer {
    border-style: solid;
    background-color: white;
    padding: 1%;
    margin-top: 1%;
}

.cross {
    width: 100%;
    padding-bottom: 2vh;
}

#popup2 > .popupContainer {
    width: 90%;
}

.imagesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.smallDICOM {
    width: 25vw;
    height: 25vw;
}

#popup2 label {
    font-size: 0.8rem;
}

#popup2 ul {
    display: inline-block;
}

.overlay {
    position: absolute;
    padding: 1%;
    width: 7rem;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
}

.export {
    margin-top: 4%;
}
/* endregion */

/* region Spin */
.cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    visibility: hidden;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.cover-spin > button {
    margin-left: 46.5%;
    margin-top: 25%;
}
/* endregion */

/* region Others */
.show {
    visibility: visible;
}

.move {
    cursor: move;
}

.contextMenu {
    cursor: context-menu;
}

.crosshair {
    cursor: crosshair;
}
/* endregion */